h1{
    font-family: sans-serif;
    color: black;
}

body{
    display: flex;
    font-family: sans-serif;
}

#nav a{
    font-family: sans-serif;
    background-color: grey;
    color: black;
}

#nav{
    min-width: 200px;
    background-color: white;
}